*{
	margin: 0;
	padding: 0;
}
body{
  background: #ADADADFF;
}
.center{
	max-width: 1000px;
	margin: 0 auto;
  background: #C9C9C9FF;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #27D7AEFF;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#logopc4u{
  width: 90px;
  height: 80px;
}

span {
	float bottom: left;
}

/*Index.html*/
#slogan{
  text-align: center;
}
/*.........slideshow...........*/
.slideshow {
  display: block;
  width: 50%;
  height: 50%;
  vertical-align: middle;
}

.slideshow img {
  position: absolute; 
  animation:slideshow 25s infinite; 
  opacity:0; 
  height: 50%;
  width: 50%;
}


@keyframes slideshow {
0%{opacity:1;
} 
25%{
opacity:0;
}
}

.slideshow img:nth-child(1){animation-delay:0s;}
.slideshow img:nth-child(2){animation-delay:5s;}
.slideshow img:nth-child(3){animation-delay:10s;}
.slideshow img:nth-child(4){animation-delay:15s;}
.slideshow img:nth-child(5){animation-delay:20s;}


/*shop.html*/
#title{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}

.items p {
	margin: 5px;
}
.items img {
	float: left
}
.items div {
	background: #D8D8D8FF;
	border: 1px solid #;
	margin: 20px;
	display: inline-grid;
	
}
.items {
	display: grid;
	grid-template-areas: 
	'a b c';
}

.row1 div {
	grid-column: a ;
	
}
.row2 div{
	grid-row: b; 

}
.row3 div {
	grid-row: c;
}

#imgshop{
  height: 240px;
  width: 240px;
}

/*producthardware.html*/

#imgproducthardware{
  height: 240px;
  width: 240px;
  float: left;
  margin-right: 2%;
}

.producthardware{
  background: #D8D8D8FF;
}

#pricehardware{
  text-align: right;
  font-size: 20px;
  text-decoration: underline;
}



/*productsoftware.html*/

#imgproductsoftware{
  height: 240px;
  width: 240px;
  float: left;
}

.productsoftware{
  background: #D8D8D8FF;
  height: 290px;
}

#pricesoftware{
  text-align: right;
  font-size: 20px;
  text-decoration: underline;
}

/*repair.html*/
#repairimg{
  width: 225px;
  height: 200px;
  float: right;
}

#repairlist{
  padding-left: 20px;
}

.repdescription{
  margin-top: 15px;
}

.repdescription h3{
  padding: 3px;
}